<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Actpal Suite" verbose="1">
    <listeners>
        <listener class-name="base.ExtentListener"/>
    </listeners>

    <test name="User Authentication Tests">
        <classes>
            <class name="tests.RegisterTests"/>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

    <test name="Password Recovery Tests">
        <classes>
            <class name="tests.ForgotPasswordTests"/>
        </classes>
    </test>

    <test name="Product Management Tests">
        <classes>
            <class name="tests.AllProductsTests"/>
            <class name="tests.ActiveProductTest"/>
            <class name="tests.AddProductTest"/>
        </classes>
    </test>

    <!-- ✅ Only Group 4 -->
    <test name="Discount Management Tests">
        <classes>
            <class name="tests.Dicountmanagement"/>
            <class name="tests.BrandsManagementTest"/>
            <class name="tests.OrderManagementTest"/>
        </classes>
    </test>

</suite>
